@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

@font-face {
    font-family: 'paybooc-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* 네비바 */

body {
    margin: 0px;
    background-color: #F7F7F7;
}

#header {
    width: 1440px;
    height: 72px;
    background-color: white;
}

#logo {
    float: left;
    margin-top: 20px;
    margin-left:20px;
}

#nav {
    width: 1130px;
    height: 72px;
    margin : 0 125px 0 125px;
}

#menu {
    list-style: none;
    float: right;
    line-height: 72px;
    margin: 0px;
    padding-left: 0px;
}

#menu li{
    float:left;
    position: relative;
    padding-right: 15px;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
}

#menu a{
    list-style: none;
    float: left;
    display: block;
    text-decoration: none;
    color: #404041;
}

#menu a:hover{
    color: blue;
    font-weight: bold;
}

.one {
    color: #d8d8d8;
    opacity: 70%;
    margin: 0px;
    width: 1440px;
}
/* 마이페이지 좌측 메뉴 바 */
#left_bar {
    position: relative;
    margin: 0px;
    width: 240px;
    height: 1080px;
    background-color: #fff;
}

#person_image {
    position: relative;
    margin-left: 37px;
    margin-top: 35px;
}

#name {
    position: relative;
    margin-top: 17px;
    margin-left: 90px;
    font-size: 22px;
    font-family: 'paybooc-ExtraBold';
    font-weight: normal;
    color: #404041;
}

#english_name {
    position: relative;
    margin-top: -5px;
    margin-left: 68px;
    font-size: 14px;
    font-family: 'paybooc-ExtraBold';
    font-weight: normal;
    color: #404041;
}

#left_bar {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

#left_bar ul {
   list-style: none;
   margin-left: -3px;
   margin-top: 43px;
}

#left_bar li{
    position: relative;
    height: 40px;
    padding-right: 14px;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: bold;
}

#left_bar a{
    list-style: none;
    display: block;
    text-decoration: none;
    color: #404041;
}

#left_bar a:hover{
    color: blue;
    font-weight: bold;
}

/* 고객별 상단 안내 바 */

#top_bar {
    position: relative;
    width: 1200px;
    height: 140px;
    margin-top: -1080px;
    margin-left: 240px;
}

#early_remarks {
    margin-left:60px;
    margin-top: 40px;
    float:left;
    position: relative;
    font-size: 22px;
    font-family: 'paybooc-ExtraBold';
    font-weight: normal;
    color: #404041;
}

#current_status {
    margin-left:60px;
    margin-top: 45px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    color: #404041;
}

/* 추천 크리에이터 표 */

#creatersum_box1 {
    width: 340px;
    height: 269px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -540px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}

#person_image_creator {
    margin-left: -190px;
    margin-top: 20px;
}

#creator_name1 {
    margin-left: 20px;
    margin-top: -95px;
    position: relative;
    font-size: 17px;
    font-family: 'paybooc-ExtraBold';
    font-weight: normal;
    color: #404041;
}

#subscriber1 {
    margin-left: 60px;
    margin-top: 15px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    color: #404041;
}

#Average_numberofviews1 {
    margin-left: 60px;
    margin-top: 12px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    color: #404041;
}

#creator_tag {
    text-align: left;
    line-height: 28px;
    margin-left: 25px;
    margin-top: 26px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: bold;
    color: #404041;
}

#btn0 {
  margin-left: 19px;
}

#btn1 {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #A1A1A1;
    font-size: 14px;
    font-family: 'NanumSquare';
    border: none;
    border-radius: 20px;
    margin-right:20px;
    margin-top: 13px;
    font-weight: bold;
}

#btn1:hover {
    cursor: pointer;
    background-color: blue;
}

#creatersum_box2 {
    width: 340px;
    height: 269px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -165px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}

#creator_name2 {
    margin-left: 87px;
    margin-top: -95px;
    position: relative;
    font-size: 17px;
    font-family: 'paybooc-ExtraBold';
    font-weight: normal;
    color: #404041;
}

#subscriber2 {
    margin-left: 60px;
    margin-top: 15px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    color: #404041;
}

#Average_numberofviews2 {
    margin-left: 52px;
    margin-top: 12px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    color: #404041;
}

#creatersum_box3 {
    width: 340px;
    height: 269px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 210px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}

#creator_name3 {
    margin-left: 62px;
    margin-top: -95px;
    position: relative;
    font-size: 17px;
    font-family: 'paybooc-ExtraBold';
    font-weight: normal;
    color: #404041;
}

#subscriber3 {
    margin-left: 59px;
    margin-top: 15px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    color: #404041;
}

#Average_numberofviews3 {
    margin-left: 60px;
    margin-top: 12px;
    position: relative;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    color: #404041;
}

#creatersum_box4 {
    width: 340px;
    height: 269px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -540px;
    margin-top: 353px;
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}

#creatersum_box5 {
    width: 340px;
    height: 269px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -165px;
    margin-top: 353px;
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}

#creatersum_box6 {
    width: 340px;
    height: 269px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 210px;
    margin-top: 353px;
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}
